<div class="container">
  <h1>List Merchants</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Merchant</th>
      </tr>
      </thead>
      <tbody>
      <% @merchant.each do |m| %>
          <tr>
            <td><%= m.merchant_name %></td>
            <td><%= m.address1 %></td>
            <td><%= link_to 'Edit', edit_merchant_path(m), :class => "btn btn-warning"  %></td>
          </tr>




      <% end %>
      </tbody>
    </table>
  </div>

</div>

<br>



